[push]
    default = simple
[alias]
    llg = log --pretty=format:'%C(yellow)%h%C(red)%d %C(black)%s %C(green)<%an>%C(reset) %C(blue)(%ad)' --all --graph --decorate --date=relative
    lg = log --oneline --decorate --all --graph
    s = status -s
    co = checkout
    diffs = diff --staged
[core]
    autocrlf = false
    safecrlf = true
[color]
    ui = auto
[merge]
    tool = vimdiff
    tool = prompt
    conflictstyle = diff3
[core]
    autocrlf = false
    safecrlf = true
    excludesfile = ~/.gitignore_global
[url "git@github.com:"]
    insteadOf = https://github.com/
